
*{
    margin: 0px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

.entirepage {
    display: grid;
    grid-template-columns: 17vw 81.5vw;
}

.two {
    border: 2px solid black;
}

h4 {
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
}
/* Sidebar */
.sidebar {
    background-color: #0ea5e9;
    color: #f0f9ff;
    font-family: inherit;
    font-weight: bold;
}

.logo {
    padding: 15px 0px 15px 25px;
    font-size: 20px;
}

.menu-one {
    border: 1px solid white;
}

.menu-two {
    border: 1px solid white;
}

ul {
    list-style: none;
    padding: 20px;
}

li {
    padding: 8px;
}

a {
    color: inherit;
    font-family: inherit;
    font-size: 15px;
    margin: 15px;
}

img {
    width: 20px;
    background-color: #f0f9ff;
    fill:#f0f9ff;
    filter: #f0f9ff;
}

svg {
    fill:#f0f9ff;
}
/* Header */
.heading {
    border: 5px solid black;

}

/* First menu */
.nav-menu {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}

.left-menu {
    margin-left: 20px;
    width: 500px;
    display: flex;
    gap: 8px;
    border: 3px solid green;
}

.right-menu {
    margin-right: 20px;
    display: flex; 
    border: 3px solid orange;
    justify-content: center;
    align-items: center;  
    gap: 20px;
}

.search {
    margin-top: 12px;
}

.form-control {
    background-color: #0ea5e9;
    margin-top: 10px;
    width: 220%;
    height: 60%;
    border-radius: 2em / 2em;
}

/* Second menu */
.container {
    display: flex;
    justify-content: space-between;
    border: 5px solid blue;
}

.intro {
    font-weight: bold;
    font-family: inherit;
    border: 2px solid red;
    display: flex;
    gap: 8px;
    width: 400px;
}

.greeting {
    margin-top: 8px;
}

.button {
    border: 2px solid black;
    width: 400px;
    

}
.profile {
    font-weight: bold;
    font-family: inherit;
}

.picture {
    background-color: darkgray;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile-picture {
    background-color: darkgray;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 5px;
}

.tag {font-size: 20px;}

.btn-primary {
    margin: 10px 20px 0px 10px;
    width: 25%;
    border-radius: 19px;
    font-weight: bold;
}

/* Content */

.title {
    border: 1px solid black;
    padding-top: 20px;
    margin-bottom: 10px;
}
.content {
    padding-left: 15px;
    background-color: rgba(148,163,184,0.5);
    display: grid;
    grid-template-columns: 380px 380px 200px;
    font-size: inherit;
}

.card-content {
    border: 1px solid black;
    margin: 5px 0px 0px 10px;
}
#card {
    grid-row-start: 2;
    width: 350px;
    height: 200px;
    border: 2px solid black;
    background-color: #f8fafc;
    border-radius: 5%;
    margin-bottom: 20px;
    font-size: inherit;
}

.icon {
    border: 1px solid black;
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin: 50px 10px 10px 150px;
}
.part-two {
    margin-top:50px;
}

.trending {
    border: 1px solid black;
    margin-top: 30px;
}
.item {
    border: 1px solid black;
    display: flex;
}
#card-long {
    margin-bottom: 20px;
    width: 270px;
    height: 290px;
    border: 2px solid black;
    background-color: #f8fafc;
    border-radius: 5%;

}